.error
{
    color: red;
    font-style: italic;
    font-size: 12px;
}
.icon-star{
    color: yellow;
}
::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 3px;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .5);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

.form-control:focus {
    border-color: #66afe9;
    outline: 0;
    border-radius: 3px;
}
table tr td  ul li img{
    width: 200px;
    height: 200px;
}
table tr td p img{
    width: 300px;
    height: 250px;
}
table tr td p{
    line-height: 2;
}
table tr td ul li {
    list-style: none;
    display: inline-block;
    clear: both;
}
.highcharts-figure, .highcharts-data-table table {
    min-width: 310px;
    max-width: 100%;
    margin: 1em auto;
}
.highcharts-data-table table {
    font-family: Verdana, sans-serif;
    border-collapse: collapse;
    border: 1px solid #EBEBEB;
    margin: 10px auto;
    text-align: center;
    width: 100%;
    max-width: 500px;
}
.highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: #555;
}
.highcharts-data-table th {
    font-weight: 600;
    padding: 0.5em;
}
.highcharts-data-table td, .highcharts-data-table th, .highcharts-data-table caption {
    padding: 0.5em;
}
.highcharts-data-table thead tr, .highcharts-data-table tr:nth-child(even) {
    background: #f8f8f8;
}
.highcharts-data-table tr:hover {
    background: #f1f7ff;
}
